* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

/* Layout Header */
header {
  background-color: red;
  height: 60px;
  width: 100%;
  padding: 0 50px;
}

.header__container {
  background-color: orange;
  height: inherit;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container .logo {
  height: inherit;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.header__container #menu-btn {
  height: inherit;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menu-btn span {
  width: 20px;
  height: 5px;
  background-color: black;
}

#menu-btn span:nth-child(1) {
  transform: translateY(-5px)
}

#menu-btn span:nth-child(3) {
  transform: translateY(5px)
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
/* Layout Form */
form {
  background-color: magenta;
  width: inherit;
  height: 100px;
}

.library__container {
  display: flex;
  flex-direction: row;
}

/* Layout Read Books */
.read__books {
  background-color: green;
  width: 100%;
  height: 65vh;
}
/* Layout Unread Books */
.unread__books {
  background-color: blue;
  width: 100%;
  height: 65vh;
}

/* DELETE LATER */
form,
.read__books,
.unread__books {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout Footer */
footer {
  background-color: red;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  background-color: orange;
  height: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
