* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: sans-serif;
}

/* Layout Header */
header {
  background-color: black;
  height: 60px;
  width: 100%;
  padding: 0 20px;
}

.header__container {
  background-color: black;
  height: inherit;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container .logo {
  height: inherit;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.header__container #menu-btn {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  padding: 5px;
  border: 3px solid white;
}

#searchBook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}

#searchBook .search__column {
  height: 100%;
}

#searchBook .submit__column {
  height: 36px;
}

#searchBook .search__column input {
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px 0 0 6px;
}

#searchBook .submit__column button {
  padding: 3px 5px;
  height: 36px;
  background-color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
}

.logo {
  color: #fff;
}

.logo span {
  margin-right: 6px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Layout Form */
form#form {
  background-color: whitesmoke;
  width: inherit;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.input {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
}

.input > input {
  height: 30px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}

.input > input:focus {
  border: 2px solid black;
}

.input .empty {
  height: 18px;
}

.input .input__iscomplete {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input .input__iscomplete input {
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
}

.input button {
  height: 36px;
  width: 100%;
  padding: 0 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.input button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.library__container {
  display: flex;
  flex-direction: row;
}

/* Layout Read Books */
.read__books {
  background-color: green;
  width: 100%;
  height: 70vh;
  border-right: 5px solid yellow;
}

/* Layout Unread Books */
.unread__books {
  background-color: blue;
  width: 100%;
  height: 70vh;
  border-left: 5px solid yellow;
}

/* DELETE LATER */
.read__books,
.unread__books {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout Footer */
footer {
  background-color: black;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  background-color: inherit;
  height: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: whitesmoke;
}
